body {margin: 0; padding: 0;}
#normal{
    font-size: 14px;
}
#mark{
    font-size: 22px;
    color: #f23b1c;
    font-weight: bolder;
}
iframe {
    position: absolute;
    width: 100%;
    top: 0%;
    bottom: 0%;
    z-index: -1;
}
#words {
    position:absolute;
    width: 42%;
    line-height: 20px;
    top: 15%;
    right: 13%;
    z-index: 999;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: rgb(154, 153, 153);
}
#image {
    z-index: 998;
    position: absolute;
    top: 30%;
    right: 60px;

}
#container {
    z-index: 997;
    position: absolute;
    top: 40%;
    right: 20%;
    height: 300px;
    width: 450px;
   
}
.highcharts-figure,

.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}