body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }    
#station_name {
        font-size: 20px;
        line-height: 20px;
        font-weight: bolder;
        color: #f23b1c;
        text-align:center;
        font-family: "ny-irvin-1", sans-serif;
            
        }
#top{
    font-size: 14.5px;
        line-height: 30px;
        font-weight: bolder;
        color: #f23b1c;
        text-align:center;
        font-family:"ny-irvin-1", sans-serif;
}
#number{
    font-size: 30px;
        line-height: 30px;
        font-weight: bolder;
        color: #f23b1c;
        text-align:center;
        font-family: "ny-irvin-1", sans-serif;
}


h3 {
    font-size: 18px;
    font-family: "neutra-2-text-1", sans-serf;
    line-height: 30px;
    font-weight: bolder;
    color: #555454;
    text-align:left;
    margin-top: 2px;
}



#console1 {
            opacity: 0.9;
            position: absolute;
            top:5px;
            width: 230px;
            margin: 10px;
            padding: 5px 20px;
            background-color: white;
            height: 45%;
            overflow-y: auto;
            box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
            border-radius: 3px;
        }
#console2 {
            opacity: 0.9;
            position: absolute;
            top:50%;
            width: 230px;
            margin: 10px;
            padding: 10px 20px;
            background-color: white;
            height: 40%;
            overflow-y: auto;
            box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
            border-radius: 3px;
}


#top1label,#top2label,#top3label,#top4label,#top5label{
    font-size: 15px;
    font-family: "neutra-2-text-1", sans-serf;
    line-height: 15px;
    font-weight: bolder;
    color: #555454;
    text-align:center;
}
#count,#allflow,#flows_in,#flows_out{
    font-size: 21px;
    color: #f23b1c;
    font-family:"neutra-2-text-1", sans-serf ;
    font-weight: bolder;
    margin-top: 2px;
}


#flowleft{
    float: left;
    position: relative;
    margin-top: 0px;
}
#flowright{
    float: right;
}
#title{
    height: 30px;
}
#fly {
display: block;
position: absolute;
right: 15.4%;
top: 2%;
width: 6.5%;
height: 40px;
padding: 10px;
border: none;
border-radius: 3px;
font-size: 12px;
font-weight: bolder;
font-family: "neutra-2-text-1", sans-serf;
text-align: center;
color: #fff;
background: #ee8a65;
}
#fly-back {
    display: block;
    position: absolute;
    right: 6%;
    top: 2%;
    width: 6.5%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bolder;
    font-family: "neutra-2-text-1", sans-serf;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}
.session {position: absolute;
        top: 85%;
        width: 80%;
    }
#box1{
font-size: 3px;
color: darkgrey ;
float: left;
font-family:"neutra-2-text-1", sans-serf ;
}
#box2{
font-size: 3px;
color: darkgrey ;
float: right;
font-family:"neutra-2-text-1", sans-serf ;
}
.row {  position: absolute;
        height: 8px;
        width: 100%;

    }
.colors {
        background: linear-gradient(to right, 
        #f03b20,
        #ffeda0);
        margin-bottom: 5px;
    }

h2 {
    font-size: 6px;
}

#menu {
    position: absolute;
    opacity: 0.9;
    right:6%;
    width: 14%;
    top:10%;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
    color: #ee8a65;
    font-family:"neutra-2-text-1", sans-serf ;
    font-weight: bolder;
    }

#geocoder {
    position: absolute;
    top: 18%;
    right: 4.5%;
}

.mapboxgl-ctrl-geocoder {
    width: 10%;
    }


    input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: darkgrey;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 8px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: #f03b20;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}