body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.map-overlay {
    position: absolute;
    opacity:0.8;
    bottom: 0;
    right: 0;
    background: rgb(255, 255, 255);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 15px;
    margin: 10px;
    padding: 10px 20px;
}

#features {
    top: 0;
    height: 330px;
    width: 330px;
}

h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: bolder;
    color: #e34a33;
    font-family: "ny-irvin-1", sans-serif;
}

h2 {
    font-size: 20px;
    line-height: 17px;
    margin-bottom: 10px;
    font-weight: bolder;
    color: #494744;
    font-family: "neutra-2-text-1", sans-serf;
}

h3 {
    font-size: 8px;
    line-height: 12px;
    margin-bottom: 6px;
    color: #252423
}

h4 {
    font-size: 10px;
    line-height: 2px;
    margin-bottom: 4px;
    font-weight: bolder;
    color: #fa5d45
}

h5 {
    font-size: 20px;
    line-height: 17px;
    margin-bottom: 10px;
    font-weight: bolder;
    color: #fa5d45;
    font-family: "neutra-2-text-1", sans-serf;
}

mark{
    color:#ffffff;
    background-color: #fa5d45;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #e34a33;
}

p {
    font-size: 8px;
    line-height: 2px;
    margin-bottom: 4px;
    color: #494744
}

#console {
    opacity: 0.9;
    position: absolute;
    width: 300px;
    margin: 10px;
    padding: 10px 20px;
    background-color: white;
    height: 100%;
    overflow-y: auto;
}

.session {
    margin-bottom: 20px;
}

.row {
    height: 12px;
    width: 100%;
}

.colors {
    background: linear-gradient(to right, 
    #fff5e5,
    #fbe3c3,
    #fdcc8a,
    #f78855,
    #fa5d45,
    #f8441b);
    margin-bottom: 5px;
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ccc;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fa5d45;
    margin-top: -4px;
}

.label {
    width: 15%;
    display: inline-block;
    text-align: center;
}